<div class="container-fluid">
  <header></header>

  <section class="main-header">
    <div class="box">
      <h1>マクロビの暮らし</h1>
    　<div class="btn-search">
    　  <button type="button" class="btn btn-info">お店を探す</button>
    　</div>
    </div>
  </section>

  <p id="headline">マクロビオティックとは？</p>
  <div id="content">
    <div id="wrapper">
      <div class="row">
          <div data-aos="fade-in">
            <div class="col-md-6 col-sm-7 col-xs-12">
              <section>
                <div class="section-image">
                  <img src="<%= asset_path "makurobi_ki.jpg" %>">
                </div>
              </section>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-12">
              <article>
                <div class="text">
                  <h2>Title</h2>
                  <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
                </div>
              </article>
            </div>
          </div>
      </div>

      <div class="row">
          <div data-aos="fade-in">
            <div class="col-md-6 col-sm-7 col-xs-12">
              <section>
                <div class="section-image">
                  <img src="<%= asset_path "makurobi.kinoko.jpg" %>">
                </div>
              </section>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-12">
              <article>
                <div class="text">
                  <h2>Title</h2>
                  <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
                </div>
              </article>
            </div>
          </div>
      </div>

      <div class="row">
          <div data-aos="fade-in">
            <div class="col-md-6 col-sm-7 col-xs-12">
              <section>
                <div class="section-image">
                  <img src="<%= asset_path "makurobi_genmai.jpg" %>">
                </div>
              </section>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-12">
              <article>
                <div class="text">
                  <h2>Title</h2>
                  <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
                </div>
              </article>
            </div>
          </div>
      </div>
