<div class="container-fluid">
  <header></header>

  <section class="main-header">
    <div class="box">
      <h1>マクロビの料理が食べたい</h1>
      <div class="btn-search">
        <button type="button" class="btn btn-info"><%= link_to "お店を探す", places_path %></button>
      </div>
    </div>
  </section>
  <p id="headline">マクロビオティックとは？</p>
  <div id="content">
    <div id="wrapper">
      <div class="row">
        <div data-aos="fade-in">
          <div class="col-md-6 col-sm-7 col-xs-12">
            <section>
              <div class="section-image">
                <img src="<%= asset_path "makurobi_ki.jpg" %>">
              </div>
            </section>
          </div>
          <div class="col-md-6 col-sm-7 col-xs-12">
            <article>
              <div class="text">
                <h2>マクロビオティックの基本</h2>
                <p>マクロビオティックというと、ストイックなイメージを思い浮かべる方も多いかもしれませんが、マクロビオティックとは、穀物や野菜、海藻などを中心とする日本の伝統食をベースとした食事を摂ることにより、自然と調和をとりながら、健康な暮らしを実現する考え方です。</p>
              </div>
            </article>
          </div>
        </div>
      </div>

      <div class="row">
        <div data-aos="fade-in">
          <div class="col-md-6 col-sm-7 col-xs-12">
            <section>
              <div class="section-image">
                <img src="<%= asset_path "makurobi.kinoko.jpg" %>">
              </div>
            </section>
          </div>
          <div class="col-md-6 col-sm-7 col-xs-12">
            <article>
              <div class="text">
                <h2>マクロビオティックの二大原則
                </h2>
                <p>身土不二 人間も植物も生まれた環境と一体という意味です。一物全体
                  ひとつのものを丸ごと食べる、という意味です。食材そのものは、丸ごとでバランスがとれており、穀物なら精白していない玄米、野菜なら皮や葉にも栄養があり、全てを摂ることでからだのバランスがとれるという考え方です。</p>
              </div>
            </article>
          </div>
        </div>
      </div>

      <div class="row">
        <div data-aos="fade-in">
          <div class="col-md-6 col-sm-7 col-xs-12">
            <section>
              <div class="section-image">
                <img src="<%= asset_path "makurobi_genmai.jpg" %>">
              </div>
            </section>
          </div>
          <div class="col-md-6 col-sm-7 col-xs-12">
            <article>
              <div class="text">
                <h2>マクロビオティックの陰陽バランス</h2>
                <p>マクロビオティックでは、すべてのものに「陰」と「陽」がある、という考え方があります。
                陰性とは遠心力・静かなもの・冷たいもの・水分の多いものなどを指します。
                陽性とは求心力・動きのあるもの・熱いもの・水分の少ないものなどを指します。
                マクロビオティックではこの陰性と陽性のバランスがとれた状態（中庸）を大切としています。</p>
              </div>
            </article>
          </div>
        </div>
      </div>
