<%= form_tag stores_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "店名を入力" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @stores.each do |store| %>
  <%= store.name %>
<% end %>
