<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-5 col-xs-offset-4">
      <div class="form-inline">
        <%= form_tag places_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "店名を入力" %>
          <%= submit_tag "Search", class: "btn btn-warning", :name => nil %>
        </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="gmap">
    <div id="map"></div>

    <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {},
        internal: {
          id: 'map'
        }
      }, function () {
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);
      });
    </script>
  </div>

</div>
